body {
  background-color: #302b42;
  width: 100%;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-weight: 900;
  font-size: 72px;
}

h2 {
  color: white;
  font-weight: 900;
  font-size: 48px;
}

p {
  font-size: 24px;
  color: lightgray;
}

hr {
  margin-right: 30%;
  margin-left: 30%;
}

.contenu {
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 50px;
}

.en_tete {
  display: flex;
  gap: 50px;
}

#image_musique {
  width: 20%;
  height: 20%;
}

table {
  width: 100%;
  border-collapse: collapse;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  align-content: center;
  align-items: center;
  text-align: center;
}

th {
  font-weight: 700;
  background: rgba(255, 255, 255, 0.15);
}

.audio {
  width: 100%;
  max-width: 500px;
  filter: invert(100%) hue-rotate(180deg);
  background: #111;
  border-radius: 15px;
  padding: 4px;
}

table {
  color: lightgray;
  font-size: 24px;
}

#en_tete_tab {
  font-weight: 900;
  color: white;
  font-size: 28px;
}

nav {
  display: flex;
  justify-content: center;
}

#menu {
  border: 1px lightblue solid;
  border-radius: 15px;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  gap: 80px;
  font-size: 24px;
}

.lien_nav a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: bold;
  border: 3px;
  border-radius: 15px;
}

.lien_nav a:hover {
  transition: 100ms;
  animation: ease-in-out;
  color: lightseagreen;
}

tr:hover {
  background-color: #615d6e;
}
